
/* Header */

.orange-tailoring-logo-header{
	max-width: 800px;
	max-height: 70px;
}
.visit-bg-color{
    /* background-color: #FFA500; */
	/* background-color: #ffb433; */
	/* background-color: #FF5F1F; */
	background-color: #ff7e42;
}

.nav-had-icon-t{
	margin-right: 15px;
	font-size: 18px;
}

/* ORANGE TAILORING BACKGROUND COLOR */
/* .orange-t-background-color{
    background-color: #FFA500;
} */

.about-padding-top{
	margin-top: 70px;
}

.orange-t-service{
	border: none;
	padding: 24px 47px;
	text-transform: uppercase;
	border-radius: 0px;
	letter-spacing: 2px;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	background-size: 200%;
	transition: 0.6s; 
	border-radius: 12px;
/* background-image: linear-gradient(to left,rgb(199, 159, 136), rgb(182, 135, 107),rgb(201, 164, 143)); */
/* background: linear-gradient(179deg, rgb(255, 129, 27) -27.5%, rgb(245, 255, 56) 94.7%); */
/* background: radial-gradient(circle at 10% 20%, rgb(236, 150, 29) 0%, rgb(201, 169, 79) 90%); */
background: linear-gradient(107deg, rgb(255, 119, 66) 11.1%, rgb(253, 83, 27) 95.3%);



background-position: right;
}
.orange-t-background-color:hover{
background-position: left;
}

/* whatsup icons */

#whatsapp .wtsapp{
	position: fixed;
	transform: all .5s ease;
	background-color: #25d366;
	display: block;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	border-radius: 50px;
	border-right: none;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	bottom: 90px;
	right: 30px;
	border: 0;
	z-index: 9999;
	width: 50px;
	height: 50px;
	line-height: 50px;

}

#whatsapp .wtsapp:before{
	content:"";
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 60px;
	height: 60px;
	background-color: #25d366;
	border-radius: 50%;
	-webkit-animation: pulse-border 1500ms ease-out infinite;
	animation: pulse-border 1500ms ease-out infinite;
}

#whatsapp .wtsapp:focus{
	border: none;
	outline: none;
}

@keyframes pulse-border {
	0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3); opacity: 1;}
}

 /* .orangr-whatsup-icon
{
	color: #075E54;
	position: fixed;
    bottom: 5px;
    right: 90px;
    z-index: 1000;
	font-size: 50px;	
}
.orangr-whatsup-icon:hover{
	transform: ;
}  */


/* footer */

.bg-footer{
	background-color: #10182F;
}
/* .footer-orange-tailoring {
	
	background: #10182F;
	border-radius: 6px;
  } */

  .footer .footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3.5rem;
	padding: 60px;
  }
  .footer-row .footer-col h4 {
	color: #fff;
	font-size: 3.2rem;
	font-weight: 400;
  }
  .footer-col .links {
	margin-top: 20px;
  }
  .footer-col .links li {
	list-style: none;
	margin-bottom: 10px;
  }
  .footer-col .links li a {
	text-decoration: none;
	color: #bfbfbf;
  }
  .footer-col .links li a:hover {
	color: #fff;
  }
  .footer-col p {
	margin: 20px 0;
	color: #bfbfbf;
	max-width: 300px;
  }
  .footer-col form {
	display: flex;
	gap: 5px;
  }
  .footer-col input {
	height: 40px;
	border-radius: 6px;
	background: none;
	width: 100%;
	outline: none;
	border: 1px solid #7489C6 ;
	caret-color: #fff;
	color: #fff;
	padding-left: 10px;
  }
  .footer-col input::placeholder {
	color: #ccc;
  }
   .footer-col form button {
	background: #fff;
	outline: none;
	border: none;
	padding: 10px 15px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 500;
	transition: 0.2s ease;
  }
  .footer-col form button:hover {
	background: #cecccc;
  }
  .footer-col .icons {
	display: flex;
	margin-top: 30px;
	gap: 30px;
	cursor: pointer;
  }
  .footer-col .icons i {
	color: #afb6c7;
  }
  .footer-col .icons i:hover  {
	color: #fff;
  }
  @media (max-width: 768px) {
	.footer {
	  position: relative;
	  bottom: 0;
	  left: 0;
	  transform: none;
	  width: 100%;
	  border-radius: 0;
	}
	.footer .footer-row {
	  padding: 20px;
	  gap: 1rem;
	}
	.footer-col form {
	  display: block;
	}
	.footer-col form :where(input, button) {
	  width: 100%;
	}
	.footer-col form button {
	  margin: 10px 0 0 0;
	}
}

.footer-icon-color{
	color: #bfbfbf;
}
.footer-icon-color:hover{
	color: #fff;
}

.Opening-hours{
	color: #bfbfbf;
}
.Opening-hours:hover{
	color: #fff;
}

.footer-contact-hover-collor{
	color: #bfbfbf;
}
.footer-contact-hover-collor:hover{
	color: #fff;
}
/* Footer End */

/* About */

.about-but-color{
	border: none;
	padding: 24px 47px;
	text-transform: uppercase;
	border-radius: 0px;
	letter-spacing: 2px;
	cursor: pointer;
	color: #000000;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	background-size: 200%;
	transition: 0.6s; 
	border-radius: 12px;
	background-color: rgb(255, 255, 255);
}
.about-but-color:hover{
	color: #ff7e42;

}

/* services */
.prouct-heading-services-tag{
	margin-bottom: 50px;
	margin-top: 60px;


}

/* product */
.prouct-heading-tag{
	font-size: 53px;
}

.product-whatsup{
	font-size: 16px;
	color: #25d366;
	
}
.product-text-color{
	color: #000000;
}
.product-text-color:hover{
	color: #ff7e42;

}
.product-text-font{
	font-size: 18px;
}
.product-img-hover{
	transition: 1s;	
}
.product-img-hover:hover{
	transform: scale(1.1);
}

/* Gallery */
.gallery-top{
	margin-top: 80px;
	margin-bottom: 80px;
}

.galler-paragraph-font{
	font-size: 20px;
}
     

/* contact page */
.contact-margin-top{
	margin-top: 12%;

}
.contact-text-color{
	color: #000000;
}
.contact-text-color:hover{
	color: #ff7e42;
}
.contact-icon-f{
	color: blue;
	margin-right: 15px;
}
.contact-icon-i{
	color: red;
	margin-right: 15px;
}
.contact-icon-l{
	color: blue;
	margin-right: 15px;
}
.contact-icon-t{
 color: black;
}
.contact-heading-tailoring{
	font-size: 20px;

}